<div id="particles-js">
  <div class="header" style="min-width:80%;">
      <h1>
        <span style="font-size:200px;margin-bottom: 10px;color: white;font-weight: 200;">&gt;_</span>
        <span style="margin-bottom:10px;" class="site-title">{{ site.username }}</span>
        <span style="margin:0 auto;max-width:80%;" class="site-description">Check Point Professional Services Consultant, Certified Ethical Hacker, & Cybersecurity Expert</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:mark@marksowell.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/marksowell/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Acclaim" target="_blank" href="https://www.youracclaim.com/users/mark-sowell/badges"><i class="icon fa fa-angle-double-up" aria-hidden="true"></i></a>
        <a aria-label="ASPEN" target="_blank" href="https://aspen.eccouncil.org/VerifyBadge?type=certification"><i class="icon fa" aria-hidden="true"><b>&#9651</b></i></a>
<!--<a aria-label="My Stackoverflow" target="_blank" href="https://stackoverflow.com/users/12828897/mark-s?tab=profile"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>-->
        <a aria-label="My Github" target="_blank" href="https://github.com/marksowell"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
<!--<a aria-label="HackTheBox profile" target="_blank" href="https://www.hackthebox.eu/profile/319820"><i class="icon fa fa-cube" aria-hidden="true"></i></a>-->
<!--<a aria-label="HackerRank profile" target="_blank" href="https://www.hackerrank.com/marksowell"><i class="icon fa fa-code" aria-hidden="true"></i></a>-->
<!--<a aria-label="HackerOne profile" target="_blank" href="https://hackerone.com/marksowell"><i class="icon fa fa-bug" aria-hidden="true"></i></a>-->
      </div>
  </div>
</div>
