<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <!-- <a aria-label="Send email" href="mailto:****@gmail.com"><i class="icon fa fa-envelope"></i></a> -->
        <a aria-label="My Stackoverflow" target="_blank" href="https://stackoverflow.com/users/8916321/game0ver?tab=profile"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/christoforos-p-7a2a7a188/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/chrispetrou"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="HackTheBox profile" target="_blank" href="https://www.hackthebox.eu/profile/223"><i class="icon fa fa-cube" aria-hidden="true"></i></a>
        <a aria-label="HackerRank profile" target="_blank" href="https://www.hackerrank.com/virtualcodecrea1"><i class="icon fa fa-hackerrank" aria-hidden="true"></i></a>
        <a aria-label="HackerOne profile" target="_blank" href="https://hackerone.com/chrispetrou"><i class="icon fa fa-bug" aria-hidden="true"></i></a>
      </div>
  </div>
</div>